.why {
    text-align: center;
    background: var(--light-grayish-blue);
    padding-top: 5em;

    .coppy {
        line-height: 1.7;
        font-weight: 300;
        font-size: 1em;
        margin-bottom: 4em;
    }

    &__item {
        margin-bottom: 2.5em;
        img {
            margin-bottom: 1.5em;
        }
        .coppy{
            margin-bottom: 2em;
        }
       
    }
}
